/apollo/python/embeddings/
/apollo/python/data/
/apollo/python/.bash_history
/apollo/python/.python_history
/apollo/python/glove.6B/
/apollo/python/glove.6B.zip
/apollo/python/models/
/apollo/python/.keras
**/__pycache__/**
/apollo/python/.vscode/
